[MASTER]
load-plugins=pylint_django
django-settings-module=goldenhorde.settings

[TYPECHECK]
generated-members=objects

[MESSAGES CONTROL]
disable=
    fixme,
    missing-docstring,
    invalid-name,
    no-self-use,
    too-many-ancestors,
    too-few-public-methods,
    too-many-locals,
    too-many-arguments,
    line-too-long,
    invalid-str-returned